/* Typography
-------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	clear: both;
}
p {
	margin-bottom: 15px;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 15px;
}
address {
	margin: 0 0 15px;
}
pre {
	background: $secondary-color;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.5;
	margin-bottom: 15px;
	max-width: 100%;
	overflow: auto;
	padding: 15px;
}
code, kbd, tt, var {
	font: 14px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}

/* Elements
--------------------------------------------------------------*/

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 15px;
}
ul, ol {
	list-style-position: outside;
	margin: 0 0 15px 20px;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 15px;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 15px 15px;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
figure {
	margin: 0;
}
table {
	margin: 0 0 15px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 1px 0 0 1px;
	text-align: left;
}
th {
	font-weight: 500;
}
thead th {
	background: #fafafa;
}
th, td {
	padding: 5px 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 0 1px 1px 0;
}

/* Forms
--------------------------------------------------------------*/

label {
	font-size:14px;
	cursor: pointer;
	display: block;
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
	margin: 0 0 10px;
	position: relative;
	text-decoration: none;
	text-align: center;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	display: inline-block;
	padding: 8px 20px;
	background-color: $primary-color;
	color: #fff;
	transition: background-color 200ms ease-out;
	font-size:15px;
}
button:hover,
.button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: $primary-hover;
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	box-shadow: 0 0 5px #999;
	border-color: #999;
	outline: none;
}
input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="search"],
input[type="url"],
textarea {
	-webkit-appearance: none;
	background-color: #FFF;
	font-family: inherit;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 15px;
	margin: 0 0 15px 0;
	padding: 8px;
	width: 100%;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
textarea:focus {
	box-shadow: 0 0 5px #999;
	border-color: #999;
	outline: none;
}
input[type="search"]::-webkit-search-decoration {
	/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top; /* Improves readability and alignment in all browsers */
	height: auto;
	min-height: 50px;
}