$nav-color : #333;

.primary-navigation {
	background-color: $nav-color;
	font-size: 14px;
	position: relative;
}
.primary-navigation ul {
	display: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	list-style: none;
	margin: 0;
	padding:0;
	border-top: 1px solid lighten( $nav-color, 20% );
}
.primary-navigation li {
	position: relative;
}
.primary-navigation a {
	padding:15px 20px;
	display: block;
	text-decoration: none;
	color:#fff;
	font-weight:600;
	border-bottom: 1px solid lighten( $nav-color, 20% );
}
.primary-navigation a:hover,
.primary-navigation li:hover a {
	color: #fff;
	background-color: lighten( $nav-color, 5% );
}
.primary-navigation .menu-item-has-children > a {
	padding-right:30px;
}
.primary-navigation ul ul a:hover {
	background-color: $nav-color;
}
.dropdown-toggle {
	display: inline-block;
	position: absolute;
	right:8px;
	top:8px;
	height:36px;
	width:36px;
	border: 1px solid lighten( $nav-color, 20% );
	cursor: pointer;
}
.dropdown-toggle:after {
	font-family: 'FontAwesome';
	color:#fff;
	font-size:14px;
	line-height: 1;
	content: '\f0d7';
	position: absolute;
	right: 50%;
	margin-right:-4px;
	top:50%;
	margin-top:-7px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
	transition: transform .2s ease-in-out;
}
.primary-navigation ul ul {
	border-top: none;
}
.primary-navigation ul ul a {
	padding-left:40px;
}

/* Mobile Toggle
-------------------------------------------------------------- */

.menu-toggle {
	background:none;
	line-height: 1;
	cursor: pointer;
	text-align: left;
	box-shadow: none;
	margin:0;
	min-height: 50px;
}
.menu-toggle:hover {
	background:none;
}
.menu-toggle:before {
    font-family: 'FontAwesome';
    content: '\f0c9';
    speak: none;
    display: inline-block;
    font-weight: normal;
    position: absolute;
    left:0;
}
.menu-toggle:focus {
	box-shadow: none;
	border:none;
}

/* Small Screen Sizes */
@media screen and ( max-width: 1039px ) {
	.primary-navigation .navigation-col-width {
		width:100%;
	}
	.dropdown-toggle.toggled:after {
		transform: rotate(180deg);
	}
}

/* Large Screen Sizes */
@media screen and ( min-width: 1040px ) {
	.menu-toggle {
		display: none;
	}
	.dropdown-toggle {
		width: auto;
		border: none;
	}
	.dropdown-toggle:after {
		right: 5px;
	}
	.primary-navigation ul {
		border: none;
		display: block;
	}
	.primary-navigation li {
		display: inline-block;
	}
	.primary-navigation a {
		display: inline-block;
		border: none;
		padding: 14px 12px;
		color:#fff;
	}
	.primary-navigation .menu-item-has-children > a {
		padding-right:30px;
	}
	.primary-navigation ul ul {
		display: none;
		width:220px;
		background: #5BC08C;
		position: absolute;
		left: 0;
		top:49px;
		z-index: 99999;
		border-top: 1px solid lighten( $nav-color, 20% );
	}
	.primary-navigation ul li:hover > ul {
		display: block;
	}
	.primary-navigation ul ul li {
		display: block;
		margin:0;
	}
	.primary-navigation ul ul a,
	.primary-navigation ul li:hover ul a {
		display: block;
		padding:15px 20px;
		border-bottom: 1px solid lighten( $nav-color, 20% );
	}
	.primary-navigation ul ul li:last-child a {
		border-bottom: none;
	}
	.primary-navigation ul ul ul {
		margin: 0;
		left:220px;
		top:-1px;
		border-left: 1px solid lighten( $nav-color, 20% );
	}
	.primary-navigation ul ul ul:before {
		display: none;
	}

	/* Social */
	.primary-navigation .social > a {
		display: inline-block;
	}
	.primary-navigation .social span {
		margin: 0;
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
	.primary-navigation .social a:before {
		display: inline-block;
		font-family: 'FontAwesome';
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.primary-navigation .social a[href*="behance.com"]:before {
		content: '\f1b4';
	}
	.primary-navigation .social a[href*="dribbble.com"]:before {
		content: '\f17d';
	}
	.primary-navigation .social a[href*="facebook.com"]:before {
		content: '\f09a';
	}
	.primary-navigation .social a[href*="flickr.com"]:before {
		content: '\f16e';
	}
	.primary-navigation .social a[href*="github.com"]:before {
		content: '\f09b';
	}
	.primary-navigation .social a[href*="linkedin.com"]:before {
		content: '\f0e1';
	}
	.primary-navigation .social a[href*="pinterest.com"]:before {
		content: '\f0d2';
	}
	.primary-navigation .social a[href*="plus.google.com"]:before {
		content: '\f0d5';
	}
	.primary-navigation .social a[href*="instagr.am"]:before,
	.primary-navigation .social a[href*="instagram.com"]:before {
		content: '\f16d';
	}
	.primary-navigation .social a[href*="skype.com"]:before {
		content: '\f17e';
	}
	.primary-navigation .social a[href*="spotify.com"]:before {
		content: '\f1bc';
	}
	.primary-navigation .social a[href*="tumblr.com"]:before {
		content: '\f173';
	}
	.primary-navigation .social a[href*="twitter.com"]:before {
		content: '\f099';
	}
	.primary-navigation .social a[href*="vimeo.com"]:before {
		content: '\f194';
	}
}